@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <ul>
    <li>A1</li>
    <li>A2</li>
    <li>A3</li>
    <li>A4</li>
    </ul>
}
