@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>We offer all servies in SDE</h1>
    <p>Please feeel free to contact us anytime to reach out to our servies</p>
    <img src="https://www.bing.com/ck/a?!&&p=bb3933e8bc26c142d2c6bcf6cf20c9032b1c4eb8f15dd3a2a5fd4e150e3c3a01JmltdHM9MTY1ODc0MTcxNSZpZ3VpZD1lYmU5M2RmMS1jZTJlLTRlY2QtYWNiNy05MjIzYTg2MDAxZTImaW5zaWQ9NTUyOA&ptn=3&fclid=1636c9dd-0bfd-11ed-a103-32f5cf99159a&u=a1L2ltYWdlcy9zZWFyY2g_cT1GSVMlMjBMb2dvJkZPUk09SVFGUkJBJmlkPTg3MTBFODRGRURDQUVCMURFNDJBN0I4ODJCRUQ0NURFQzEyNUU0Nzg&ntb=1">
}
